body {
    margin: 0;
    font-family: 'Roboto', arial, sans-serif;
}
h4 {
  margin-left: 20px;
}
.header {
    background-color: #fafafa;
    width: 100%;
    height: 64px;
}
.search-bar {
  max-width: 846px;
}

.profile-social {
  position: relative;
  display: block;
  text-align: right;
  min-width: 1000px;
  margin-right: 0;
  padding-right: 20px;
}

#google-logo {
    position: absolute;
    top: 20px;
    left: 25px;
}

.microfono {
    position: relative;
    float: left;
    left: 722px;
    top: 30px;
}

.magnify {
    position: relative;
    float: left;
    left: 736px;
    top: 32px;
}



input {
    position: absolute;
    width: 632px;
    height: 40px;
    left: 165px;
    top: 20px;
    font-size: 17px;
    box-shadow: 1px 1px 5px lightgray;

    border-radius: 2px;
    border: solid 1px lightgray;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

input:hover {
    box-shadow: 3px 3px 10px lightgray;
    -webkit-transition: 0.2s;
}


.navbar {
    height: 60px;
    background-color: #fafafa;

    border-bottom: solid 1px #ededed;
}



img:hover {
    cursor: pointer;
}

.logo {
    margin: 27px 17px 0 8px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.bell {
    margin: 31px 5px 0 8px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.box {
    margin: 31px 5px 0 5px;
}

.nav {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    padding: 0;
}

.nav-li {
    position: relative;
    float: left;
    padding: 10px;
    font-size: 13px;
    margin: 15px 7px;
    left: 150px;
    color: gray;
    padding-bottom: 18px;
    cursor: pointer;
    list-style: none;
}

.nav-li:hover {
    color: black;

}

.nav-setting {
    margin-left: 90px;
}

.all {
    padding-left: 18px;
    padding-right: 18px;
    color: #4285f4;
    font-weight: bold;

    border-bottom: solid 3px #4285f4;
}

.result-container {
    width: 632px;
    margin-left: 175px;
}

.search-speed {
    font-size: 13px;
    color: gray;
    margin-bottom: 25px;
}

.banner {
    position: relative;
    float: left;
    border: solid 1px lightgray;
    padding-right: 40px;
    box-shadow: 1px 1px 5px lightgray;
    left: -20px;
    margin-bottom: 40px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.banner-li {
    font-size: 16px;
    margin-top: 12px;

}

.search-link {
    color: #1a0dab;
    text-decoration: none;
    font-weight: normal;
}

.banner-link{
    margin-left: 15px;
    position: relative;
    top: 5px;
}

#more-items {
  margin-left: 40px;
}
.search-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.wix-link {
    margin-left: 15px;
    padding-top: 5px;
}

.green-link {
    position: relative;
    line-height: 30px;
    color: #006621;
    font-style: normal;
    font-size: 14px;
    top: -25px;
}

.description {
    font-size: 14px;
    color: #545454;
    line-height: 1.4;
    word-wrap: break-word;
    margin-top: -45px;
}

.triangle {
    cursor: pointer;
}

.other-searches {
    font-weight: normal;
    margin-top: 30px;
    font-size: 18px;
}

.other {
    display: inline;
    float: left;
    color: #1a0dab;
    font-size: 14px;
    margin-bottom: -2px;
    line-height: 80%;

}

.left-side {
    width: 44%;
}

.right-side {
    width: 50%;
}

a:hover {
    text-decoration: underline;
}

.other-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.g {
    background: url(https://www.google.com/images/nav_logo242.png) no-repeat;
    background-position: -24px 0;
    width: 25px;
    height: 40px;
}

.red-o {
    background: url(https://www.google.com/images/nav_logo242.png) no-repeat;
    width: 19px;
    height: 40px;
    background-position: -54px 0;
    padding: 0px;
}

.o {
    background: url(https://www.google.com/images/nav_logo242.png) no-repeat;
    background-position: -75px 0;
    width: 19px;
    height: 40px;
    padding: 0px;
}

.uno {
    margin-left: 30px;
    color: black !important;
}

.num {
    padding-left: 6px;
    font-size: small;
    color:#4285f4;
}

.num:hover {
    text-decoration: underline;
    cursor: pointer;
}

.o:hover {
    text-decoration: underline;
    cursor: pointer;

}

.gle {
    background: url(https://www.google.com/images/nav_logo242.png) no-repeat;
    width: 48px;
    height: 40px;
    background-position: -96px 0;
}

.goooogle {
    position: relative;
    left: 140px;
    top: 30px;
    cursor: pointer;
    margin-bottom: 70px;
}

.next {
    background: url(https://www.google.com/images/nav_logo242.png) no-repeat;
    background-position: -153px 0;
    width: 19px;
    height: 40px;
    position: relative;
    left: 5px;
    cursor: pointer;

}

.next-text {
    color: #4285f4;
    font-size: small;
}

.next-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.foot-li{
    position: relative;
    float: left;
    padding: 0 10px 0 10px;;
    font-size: 13px;
    margin: 0 7px 0 7px;
    left: 150px;
    top: 15px;
    color: gray;
}

.foot-li:hover {
    cursor: pointer;
    color: #000;

}

#fbar {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 1100px;
}

.location {
  margin-left: 166px;
}

#location-city {
    color: #aaa;
    font-size: 13px;
}

.location-dash {
  color: rgb(170, 170, 170);
  font-size: 13px;
}
.location-update, .location-learn {
  color: #777;
  font-size: 13px;
}
.location-update:hover, .location-learn:hover {
  cursor: pointer;
  color: #333;
  font-size: 13px;
}


.unknown_loc {
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 6px 4px 9px 0;
    vertical-align: middle;
    width: 10px;
    background: #9e9e9e;
    left: 150px;
}


.footer {
    background-color: #fafafa;
    border-top: solid 1px #ededed;
    height: 50px;
    margin: 0;
}
